<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employers Update Page</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="m-3 text-center">
        <h1>Update Page</h1>
        <p>This is Update Page</p>
        <hr/>
        <div class="container">
            <p id="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum laborum autem dolorum error ea mollitia ullam, delectus molestiae, quas similique laudantium dolorem sint aspernatur officia nisi, vero distinctio et id laboriosam. Voluptas qui nostrum ex tempore sunt officia? Cupiditate libero error, natus maiores incidunt tenetur magnam animi odio exercitationem ab corporis distinctio repellat vel eum officia numquam est dolor nihil ea id? Sequi veritatis temporibus quasi sit voluptas, dolores officia ad fugit provident adipisci, magni voluptatem laudantium amet dolorum architecto aliquam voluptates accusantium error sint ut accusamus? Totam omnis voluptatem exercitationem similique impedit in deleniti fugit maiores sed consequuntur ad mollitia magnam, vero iusto ratione delectus odit labore adipisci accusantium quas quasi fuga id incidunt? Asperiores minima dolorum repellendus reiciendis beatae quia et ipsum hic id molestiae laboriosam illo doloremque qui officia repudiandae quae sequi, rerum labore repellat. Placeat ea doloribus tempora molestias velit sed. Odit velit atque vel similique saepe quo. Explicabo, asperiores aliquid fugit quo, tempore tempora molestias sequi, unde accusantium dolorum exercitationem magni officiis veniam? Nobis aspernatur at dolorum nihil sit dolor, praesentium rerum nesciunt voluptates quidem quod ipsa natus tempora similique, ex voluptas harum assumenda perspiciatis totam earum cumque. Dicta, nesciunt dignissimos. Cupiditate dolorem placeat officiis?</p>
        </div>
        <hr/>
    </div>
    <div class="container text-center mb-3">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/employees" class="btn btn-primary">Employee</a>
        <a href="/employers" class="btn btn-primary">Employer</a>
        <a href="/jobs" class="btn btn-primary">Jobs</a>
        <hr/>
    </div>
    <div class="container">
        <h2 class="text-center">Add Employers</h2>
        <div class="mb-3">
            <form action="/employers/create" method="post">
                <div class="mb-3">
                    <label>Name: </label>
                    <input class="form-control" type="text" name="name" placeholder="Please input the name">
                </div>
                <div class="mb-3">
                    <label>Type: </label>
                    <input class="form-control" type="text" name="type" placeholder="Please input the type">
                </div>
                <div class="mb-3">
                    <label>Total Employees: </label>
                    <input class="form-control" type="integer" name="total_employee" placeholder="Please input the total employee">
                </div>
                <div class="mb-3">
                    <label>City: </label>
                    <input class="form-control" type="text" name="city" placeholder="Plase input the city">
                </div>
                <div class="mt-4 text-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="Add Employers"/>
                    <a href="/employers" class="btn btn-danger btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>